<% include ../partials/meta %>

<section>
  <h1>Eddigi ötletek</h1>
  <ul>
    <% for (const { urlSlug, summary } of posts) { %>
      <li><a href="/post/<%= urlSlug %>"><%= summary %></a></li>
    <% } %>
  </ul>
</section>

<section>
  <h1>Új ötlet javaslása</h1>
  <form action="/post?redirect" method="post">
    <div>
      <label for="summary">Röviden:</label>
      <input id="summary" name="summary" type="text" required maxlength="100">
    </div>
    <div>
      <label for="content">Kifejtés:</label>
      <textarea id="content" name="content" type="text" maxlength="1000"></textarea>
    </div>
    <div>
      <button>Submit</button>
    </div>
  </form>
</section>